.main {

}

.chess-pawn {
    background-image: url('../../public/WPawn.svg');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.chess-board-background {
    background-image: url('../../public/board.svg');
    background-repeat: no-repeat;
    width: 850px;
    height: 850px;
}

.chessboard {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.chessboard-cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}